@import 'tailwindcss';

@theme {
  --font-family-inter: 'Inter', 'sans-serif';
  --breakpoint-xs: 450px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 800px;
  --breakpoint-lg: 1024px;
}
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(25, 25, 25);
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}
@keyframes imageReveal {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-imageReveal {
  animation: imageReveal 0.6s ease-in-out forwards;
}
@keyframes pulsePrice {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.animate-pulsePrice {
  animation: pulsePrice 1.5s infinite ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
